<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <!-- fontawsome -->
  <script src="https://kit.fontawesome.com/6a99101cff.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <nav class="nav">
    <div class="contain-box">
      <div class="dropdown nav__dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars fa-lg"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">HOME</a>
          <a class="dropdown-item" href="./about.html">ABOUT</a>
          <a class="dropdown-item" href="./02_blog-list.html">BLOG</a>
          <a class="dropdown-item" href="./contact.html">CONTACT</a>
        </div>
      </div>
      <a class="nav__title" href="./01_index.html">IMPULSE</a>
      <a class="nav__icon" href="./contact.html"><i class="far fa-envelope fa-lg"></i></a>
    </div>
  </nav>

  <div class="page-contain">
    <div class="page-img"></div>
    <div class="page-cont">
      <p class="list-day">2021 sep 23</p>
      <p class="list-title">This is my third & latest post</p>
      <p class="list-text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, voluptate! Quam, reprehenderit? Possimus odio ipsam nulla, optio natus vero ex aperiam quos tempora fugiat itaque at provident, quisquam perspiciatis numquam?
      <br><br>
      Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, voluptate! Quam, reprehenderit? Possimus odio ipsam nulla, optio natus vero ex aperiam quos tempora fugiat itaque at provident, quisquam perspiciatis numquam?
      <br><br>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa aut at quia laboriosam facilis fuga blanditiis incidunt illo, dolores fugiat saepe earum qui vel maiores molestias doloremque velit quo repellendus!
      </p>
    </div>
  </div>


  </div>


  <footer class="footer">
    <div class="contain-box">
      <div class="footer-contBox">
        <div class="footer-title">IMPULSE</div>
        <ul>
          <li class="list-title">MORE INFO</li>
          <li class="list-text">ABOUT</li>
          <li class="list-text">INFO</li>
          <li class="list-text">FAQ</li>
        </ul>
        <ul>
          <li class="list-title">HELPUL LINKS</li>
          <li class="list-text">ABOUT</li>
          <li class="list-text">INFO</li>
          <li class="list-text">FAQ</li>
        </ul>
        <ul>
          <li class="list-title">FIND OUT MORE</li>
          <li class="list-text">ABOUT</li>
          <li class="list-text">INFO</li>
          <li class="list-text">FAQ</li>
        </ul>
      </div>
      <p class="footer-info"> ©2021 DESIGN BY NOVOLIO. IMAGES BY UNSPLASH</p>
    </div>
  </footer>

</body>
</html>